<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Sono</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sono</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

    <key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>

    <key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wtf.sono.app.N4LC4BCYCP</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sono</string>
			</array>
		</dict>
	</array>

	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>background-processing</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>

	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>audio-output</string>
	</array>
	
	<key>NSMicrophoneUsageDescription</key>
	<string>Sono needs microphone access for voice features and audio recording.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sono needs photo library access to select profile pictures.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sono may use location for personalized content and features.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access needed to scan QR codes for joining SAS streams and taking Profile Pictures for Sono</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Sono sends notifications about session updates and app status.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Sono needs access to save and load audio files.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Sono needs access to your music library to display and play your songs.</string>
    
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Sono needs Bluetooth access to connect to external speakers and devices.</string>
	
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	
	<key>UIBackgroundTasksEnabled</key>
	<true/>

	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneDelegateClassName</key>
					<string>FlutterSceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>